project_id = "mycjqmnvyphnarjoriux"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "ipv6"
port = 54323
tenant_id = "realtime-dev"

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1:54321"
openai_api_key = "env(OPENAI_API_KEY)"

[inbucket]
enabled = true
port = 54324
open_browser = true
smtp_port = 54325
pop3_port = 54326

[functions.ai-analysis]
verify_jwt = false

[functions.create-company-invite]
verify_jwt = false

[functions.process-smart-notifications]
verify_jwt = true

[functions.realtime-chat]
verify_jwt = false

[functions.send-followup]
verify_jwt = true

[functions.process-auto-followup]
verify_jwt = false

[functions.kanban-webhook]
verify_jwt = false

[functions.delete-lead-with-conversations]
verify_jwt = false

[auth]
enabled = true
port = 54324
site_url = "http://127.0.0.1:3000"
additional_redirect_urls = ["https://127.0.0.1:3000"]
jwt_expiry = 3600
refresh_token_rotation_enabled = true
security_update_password_require_reauthentication = true
enable_manual_linking = false